.taskForm {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 4rem;
}

.taskForm input[type="text"] {
  width: 100%;
  height: 3.375rem;
  padding: 1rem;
  background: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.taskForm input[type="text"]::placeholder {
  color: var(--gray-300);
}

.taskForm button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 3.25rem;
  padding: 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  font-size: bold;
  cursor: pointer;

  transition: background 0.1s;
}

.taskForm button:hover {
  background: var(--blue);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header strong {
  font-size: 0.875rem;
  color: var(--blue);
}

.header strong + strong {
  color: var(--purple);
}

.header strong > span {
  font-size: 0.75rem;
  margin-left: 0.5rem;
  padding: 2px 8px;
  border-radius: 999px;
  background: var(--gray-400);
  color: var(--gray-200);
}